{% extends "layout.html" %}
{% block body %}


<ul>
    {% for username, values in badgers.items() %}
    <div style = "border-top:1px solid gray; padding:20px">
        <h2>
            <a name = "{{ username }}">
                {{ username }}</a>
            </a>
        </h2>


        {% if days %}
          <div>
            <p>You're on a {{ days }} day streak!</p>

            {% for _ in range(1, days) %}
              X
            {% endfor %}
          </div>

        {% else %}

          <div style = "margin-top:50px;">
              <ul>
                  {% for date, count in values.items() %}
                        <li><span style = "color:gray">{{ date }}</span>: <strong>{{ count }}</strong></li>
                  {% endfor %}
              </ul>
          </div>

        {% endif %}

    </div>
    {% endfor %}
</ul>


{% endblock %}
