{% extends "layout.html" %}
{% block body %}


<div class = "content">
<ul>
    {% for username, values in badgers.items() %}
    <div style = "border-top:1px solid gray; padding:20px">
        <h2>
            Way to go {{ username }}!
        </h2>


        {% if days %}
          <div>
            <p>You're on a {{ days }} day streak!</p>

            {% for _ in range(0, days) %}
              <img src = "https://obscure-cliffs-10478.herokuapp.com/static/badger48.png">
            {% endfor %}
          </div>

        {% else %}

          <div style = "margin-top:50px;">
              <ul>
                  {% for date, count in values.items() %}
                        <li><span style = "color:gray">{{ date }}</span>: <strong>{{ count }}</strong></li>
                  {% endfor %}
              </ul>
          </div>

        {% endif %}

    </div>
    {% endfor %}
</ul>

</div>
{% endblock %}
